html {
    scroll-behavior: smooth;

}

/* filmdetal section */
.filmdetail-section {
    padding: 30px 0;
    width: 100%;
    background-color: #1a1a1a;

}

.filmdetail-container-grid {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.filmdetail-container-poster {
    margin-top: 5px;
}

.filmimg-container {
    position: relative;
    background-color: #222222;
    padding-top: 10px;
    padding-bottom: 20px;
    /* Add padding to give space around the buttons */
    margin: 0 auto;
    text-align: center;
}

.filmimg-container_filmName_container {
    display: flex;
    margin-bottom: 10px;
}

.filmimg-container_filmName {
    color: #e8f307;
    margin: auto;
}

.episode-header {
    color: #e8f307;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.episodeBtn-container {
    background-color: #333333;
    padding: 10px;
    /* Add padding for visual spacing */
    display: flex;
    flex-wrap: wrap;
    /* Allow buttons to wrap to the next line */
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;

}

.episode-button {
    margin: 5px;
    /* Add margin around buttons for spacing */
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #3a3a3a;
}

.episode-button.active {
    background-color: #ff9601;

}

#film-img {
    height: 80%;
    width: 100%;
    opacity: 0.8;
}

#nameFilm {
    position: absolute;
    bottom: 120px;
    left: 42px;
    color: white;
    font-size: 50px;
}

#originameFilm {
    position: absolute;
    bottom: 92px;
    left: 42px;
    color: white;
}

.trailer-btn {
    position: absolute;
    bottom: 50px;
    left: 20px;
    background-color: #31b0d5;
    margin-left: 20px;
    opacity: 0.9;
    text-decoration: none;
}

.watch-btn {
    position: absolute;
    bottom: 50px;
    left: 160px;
    background-color: #c9302c;
    padding: 0 20px;
    text-decoration: none;
    opacity: 0.9;
}

.trailer-btn:hover,
.watch-btn:hover {
    opacity: 1;
}

.trailer-btn,
.watch-btn {
    font-size: 18px;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.filmdetail-container-infor {
    border-radius: 10px;
    margin-top: 10px;
    background-color: #252525;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filmdetaile-infor-item {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.filmdetaile-infor-item:nth-child(1) {
    margin-left: 42px;
}

.rating-stars {
    display: inline-block;
    font-size: 0;
}

.rating-stars .star {
    display: inline-block;
    font-size: 20px;
    color: gray;
}

.rating-stars .star:hover,
.rating-stars .star.active {
    color: yellow;
}

.fa-star {
    cursor: pointer;
}

.gern-info {
    margin-top: auto;
}

.filmdetaile-infor-item_type {
    margin-top: 10px;
    margin-bottom: 10px;
}

.filmdetaile-infor-item_info {
    font-weight: 400;
    color: #717171;
}

.filmdetaile-infor-review {
    margin: 0 40px;
    width: 100%;
    border-top: 1px solid #3a3a3a;
}

.filmdetaile-infor-review h4 {
    color: #40D3DC;
}

.filmdetaile-infor-review p {
    color: white;
    line-height: 1.5;
}

.filmdetail-container-similarfilm {
    border-radius: 10px;
    margin-top: 10px;
    background-color: #252525;
    padding-top: 10px;
    padding-bottom: 20px;

}

.filmdetail-container-similarfilm h1 {
    color: white;
    text-align: center;
    margin-top: 15px;
}

.filmdetail-container-similarfilm-grid {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
}

.film-item h4 {
    color: white;
}

.like-btn-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ff6b6b;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 8px;
}

.like-btn-container button:hover {
    background-color: #e63946;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.like-btn-container button.active {
    background-color: #2d6a4f;
    color: #d8f3dc;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.3);
}


/* video film section */
.filmdetail-container-video {
    border-radius: 10px;
    margin-top: 10px;
    background-color: #252525;
    text-align: center;
    /* display: flex; */
    display: none;
}

/* .filmdetail-container-video iframe {
    margin: auto;
    width: 100%;
} */
.filmdetail-video {
    margin: auto;
    width: 100%;
}

.filmdetail-container-video.open {
    display: block;
}
/* responsive mobile device*/
@media (max-width: 768px) {

    /* film detail */
    #nameFilm {
        font-size: 20px;
    }

    #originameFilm {
        font-size: 15px;
    }

    .filmdetail-video {
        height: 280px;
    }
}

@media (min-width: 740px) and (max-width:1100px) {}